ion-content {
    --background: linear-gradient(
        to bottom,
        rgba(var(--ion-color-primary-rgb), 0.4),
        rgba(var(--ion-color-primary-rgb), 0.05) 30%,
        #ffffff 70%
    );
}

ion-header ion-toolbar ion-title {
    text-align: center;
}

@media (min-width: 768px) {
    .add-news-form-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
}

.add-news-form-container ion-card {
    background-color: var(--ion-color-light);

    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--ion-color-medium-tint);
    margin-bottom: 20px;
}

.add-news-form-container ion-card-header {
    padding-bottom: 0;
}

.add-news-form-container ion-card-content {
    padding-top: 0;
}

.add-news-form-container ion-list {
    background: transparent;
    padding-top: 0;
}

.add-news-form-container ion-item {
    --background: transparent;
    margin-bottom: 16px;
    --border-color: rgba(var(--ion-color-medium-rgb), 0.3);
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    padding-left: 0;
    padding-right: 0;
}

.add-news-form-container ion-item.item-label-floating .label-floating {
    color: var(--ion-color-medium-shade);
}

.add-news-form-container ion-button {
    margin-top: 16px;
}
